/* SCROLL REVEAL */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.9s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* COUNTER STYLE */
.counter {
  font-size: 3rem;
  font-weight: 800;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 8s ease-in-out infinite;
}

.animate-float-delay {
  animation: float 10s ease-in-out infinite;
}
