<nav
  class="bg-[#e6f7ff]/90 backdrop-blur-md shadow-lg fixed w-full z-50 transition-all duration-500"
>
  <div
    class="container mx-auto flex items-center justify-between py-3 px-4 md:px-6"
  >
    <!-- Logo -->
    <a
      (click)="navigate('/', 'hero')"
      class="flex items-center gap-3 cursor-pointer"
    >
      <img
        src="assets/logo1.png"
        alt="NDE Energy Logo"
        class="h-10 w-auto object-contain"
      />
      <span class="text-lg font-bold text-[#4b8492] sm:text-xl sm:block">
        NDE Energy Ltd</span
      >
    </a>

    <!-- Desktop Menu -->
    <ul class="hidden md:flex space-x-8 font-medium items-center">
      <li
        *ngFor="let link of ['hero', 'products', 'why-us', 'partners', 'faq']"
      >
        <a
          (click)="navigate('/', link)"
          [ngClass]="{
            'text-[#4b8492] font-semibold': activeSection === link,
            'hover:text-[#4b8492]': activeSection !== link,
          }"
          class="transition-colors duration-300 cursor-pointer"
        >
          {{ link === "hero" ? "Home" : (link.replace("-", " ") | titlecase) }}
        </a>
      </li>
      <li>
        <a
          (click)="navigate('/', 'contact')"
          class="bg-[#4b8492] text-white px-5 py-2 rounded-lg shadow-lg hover:bg-[#3a6b73] transition-all duration-300 cursor-pointer"
        >
          Contact
        </a>
      </li>
    </ul>

    <!-- Mobile Menu Button -->
    <div class="md:hidden">
      <button (click)="mobileMenu = !mobileMenu" class="focus:outline-none">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-gray-800"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            *ngIf="!mobileMenu"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
          <path
            *ngIf="mobileMenu"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div
    *ngIf="mobileMenu"
    class="md:hidden absolute top-full left-0 w-full bg-white shadow-xl rounded-b-3xl animate-slideDown z-40"
  >
    <div class="px-6 py-6 flex flex-col space-y-4">
      <a
        *ngFor="let link of ['hero', 'products', 'why-us', 'partners', 'faq']"
        (click)="navigate('/', link)"
        class="text-gray-800 py-2 px-3 rounded-lg hover:bg-[#e0f2f4] transition-all duration-300 cursor-pointer"
      >
        {{ link === "hero" ? "Home" : (link.replace("-", " ") | titlecase) }}
      </a>
      <a
        (click)="navigate('/', 'contact')"
        class="text-white bg-[#4b8492] text-center py-3 rounded-lg font-semibold hover:bg-[#3a6b73] transition-all duration-300"
      >
        Contact Us
      </a>
    </div>
  </div>
</nav>
