/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes rotate-fade {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: rotate(180deg);
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}
a.router-link-active i {
  color: white;
}
:root {
  --primary-color: #4b8492;
}

/* Utilities for easy usage */
.bg-primary {
  background-color: var(--primary-color);
}
.text-primary {
  color: var(--primary-color);
}
.border-primary {
  border-color: var(--primary-color);
}
.hover\:bg-primary:hover {
  background-color: var(--primary-color);
}
.hover\:text-primary:hover {
  color: var(--primary-color);
}
